.list-group{
  .active{
    color: #FF9B00;
    background-color: white;
    border:0;
    border-right: solid 1pt #CCCCCC;
  }
  a{
    border: 0;
    font-size: medium;
    border-right: solid 1pt #CCCCCC;
  }
}

.orange {
  background:  #FF5500 !important;
  color:  #FF5500;

}
