<mat-horizontal-stepper class="container" linear #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Datos personales</ng-template>
      <app-form-profile></app-form-profile>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Dirección</ng-template>
      <app-form-address></app-form-address>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Método de pago</ng-template>
    <app-form-card></app-form-card>
  </mat-step>
</mat-horizontal-stepper>

