button{
  background-color: #FF5500;
  color: white;
  width: 40%;
}

button:hover{
  color: white;
  background-color: #CC4400;
}

.qty{
  color: #666666;
}

.font-large{
  font-size: larger;
}

.remove-product{
  color: #FF5500;
  text-align: center;
  .icon{
    font-size: medium;
  }
}

.remove-product:hover span{
  text-decoration: underline;
  cursor: pointer;
}



