.btn-payment{
  border: #FF5500 solid 1pt;
  color: #FF5500 ;
}
.btn-payment:hover{
  color: white;
  background-color: rgb(255, 85, 0,0.5);
}

.btn-end{
  background-color: #FF5500;
  color: white;
  width: 40%;
}

.btn-end:hover{
  color: white;
  background-color: #CC4400;
}
