<div >
  <h2>DETALLES DE LA COMPRA</h2>
  <hr>
  <div class="row">
    <div class="col-md-9">
      <div class="card mb-2">
        <h3 class="card-header">DIRECCIÓN DE ENVÍO</h3>
        <h3 class="card-title container">Datos del cliente: {{user?.names}} {{user?.lastName}}</h3>
        <p class="container">Elija la dirección de envio</p>
        <div class="card-body row">
          <div class="col-md-4 col-6 pb-2 address" (click)="saveAddress(index)" *ngFor="let index of address">
            <div class="text-center card">
              <div class="card-body">{{index?.streetTypeCode}} {{index?.streetName}} {{index?.streetNumber}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-2">
        <h3 class="card-header">MÉTODO DE PAGO</h3>
        <div class="card-body row">
          <div class="col-md-4 col-6 container pb-2 cards" (click)="saveCard(item)" *ngFor="let item of card">
            <div class="text-center card p-2">
              <div>{{item.nameTitular}} {{item.lastNameTitular}}</div>
              <div>Terminación: {{item.numberCard.slice(15,19)}}</div>
            </div>
          </div>
          <div class="container">
            <form action="" [formGroup]="cardForm" (ngSubmit)="createTokenOrder()" class="row">
              <div class="form-group col-12 col-md-6">
                <label>Correo Electrónico</label>
                <input class="form-control" disabled formControlName="emailUser" type="email" data-culqi="card[email]" id="card[email]">
              </div>
              <div class="form-group col-12 col-md-6">
                <label>Número de tarjeta</label>
                <input class="form-control" maxlength="19" disabled formControlName="numberCard" type="text" size="20" data-culqi="card[number]" id="card[number]">
              </div>
              <div class="form-group col-6 col-md-3">
                <label>Mes de expiración</label>
                <input class="form-control" name="" id="" disabled formControlName="monthCard" data-culqi="card[exp_month]" id="card[exp_month]">
              </div>
              <div class="form-group col-6 col-md-3">
                <label>Año de expiración</label>
                <input class="form-control" name="" id="" disabled formControlName="yearCard" data-culqi="card[exp_year]" id="card[exp_year]">
              </div>
              <div class="form-group col-12 col-md-6">
                <label>CVV</label>
                <input class="form-control" formControlName="cvvCard" type="text" size="4" data-culqi="card[cvv]" id="card[cvv]">
              </div>
              <div class="col-12">
                <button type="submit" class="btn" id="btn_pagar">Guardar y aceptar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="card mb-2">
        <h3 class="card-header">TUS PRODUCTOS</h3>
        <div class="card-body">
          <div class="row container pb-2" *ngFor="let item of products">
            <div class="col-3 text-center ">
              <img class="img-fluid" src="{{item.image}}" alt="">
            </div>
            <div class="col-6">
              <p class="font-weight-bold">{{item.name}}</p>
              <span class="text-danger font-large font-weight-bold">S/.{{item.price}} x unidad</span>
            </div>
            <div class="col-3 text-center">
              <span>Cantidad: {{item.quantity}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      compra
    </div>
  </div>
</div>


