<div class="row">
  <div class="col-md-7 col-12">
    <img src="{{product?.image}}" alt="{{product?.name}}">
  </div>
  <div class="col-md-5 col-12">
    <h3>{{product?.name}}</h3>
    <span>{{product?.marca}}</span>
    <h4>S/. {{product?.price}}</h4>
    <div class="col-12 col-md-4">
      <button type="submit" class="btn btn-orange btn-forms-submit w-100" (click)="addToCart(product)">Añadir al carrito</button>
    </div>
  </div>
</div>

<p-dialog [(visible)]="displayAddProductModal" [modal]="true" [closable]="false">
  <p-header>
    Tu producto se agregó al carrito
  </p-header>
  <div class="row">
    <div class="col-4 col-md-2">
      <img src="{{product?.image}}" class="img-fluid" alt=" {{product?.name}}">
    </div>
    <div class="col-8 col-md-10">
      <h3>{{product?.name}}</h3>
      <span>Cantidad: </span><br>
      <span>Precio: S/. {{product?.price}}</span>
    </div>
  </div>
  <p-footer>
    <button type="button" class="btn btn-forms-submit" (click)="goToCart()">Ir al carrito</button>
    <button type="button" class="btn btn-dark" (click)="closeAddProductModal()">Seguir comprando</button>
  </p-footer>
</p-dialog>
