<!-- 
<div class="row">
  <div>
    <img src="{{product?.image}}" alt="{{product?.name}}">
  </div>
  <div>
    <h2>
        <span>{{product?.name}}</span>
    </h2>
    <span>MARCA:</span>
    <span>{{product?.marca}}</span>
    <h4>S/. {{product?.price}}</h4>
    <div >
      <input type="number" class="form-control" id="usr">
      <button type="submit" class="btn btn-orange btn-forms-submit w-100" (click)="addToCart(product)">Añadir al carrito</button>
    </div>
  </div>
</div> -->


    <div class="row t-5">
      <div class="col-md-6 text-center">
        <img class="imgProduct"src="{{product?.image}}" alt="{{product?.name}}">
      </div>
      <div class="ml-5 mr-5 col-xs-12 pb-1">
        <h2>{{product?.name}}</h2>
        <p class="text-secondary m-0 mb-1">MARCA: <span class="text-secondary">{{product?.marca}}</span></p>
        <p class="pt-2 priceProduct">S/. {{product?.price}}</p>
        <div class="countProduct mt-4">
          <form [formGroup]="qtyForm">
            <select formControlName="qtySelected">
              <option value="">Elige una cantidad</option>
              <option *ngFor="let qty of qtyProduct">{{qty}}</option>
            </select>
          </form>
         <!--  <input type="" value="{{product.quantity}}" [formControl]="qty" class="form-control mr-2"> -->
          <button type="submit" class="btn btn-orange btn-forms-submit w-100" (click)="addToCart(product)">Añadir al carrito</button>
        </div>
      </div>
      
      
      
    </div>



<p-dialog [(visible)]="displayAddProductModal" [modal]="true" [closable]="false">
  <p-header>
    Tu producto se agregó al carrito
  </p-header>
  <div class="row">
    <div class="col-4 col-md-2">
      <img src="{{product?.image}}" class="img-fluid" alt=" {{product?.name}}">
    </div>
    <div class="col-8 col-md-10">
      <h3>{{product?.name}}</h3>
      <span>Cantidad: </span><br>
      <span>Precio: S/. {{product?.price}}</span>
    </div>
  </div>
  <p-footer>
    <button type="button" class="btn btn-forms-submit" (click)="goToCart()">Ir al carrito</button>
    <button type="button" class="btn btn-dark" (click)="closeAddProductModal()">Seguir comprando</button>
  </p-footer>
</p-dialog>
