.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }

  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }

  input{
    background-color: #FDF7ED;
    border: solid #F0AD4E 1pt;
  }

  input:focus{
    border: solid #939393 1pt;
    background-color: white;
  }
