<div >
  <h2 class="mb-4"> pago con Culqi</h2>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title text-center">Carrito de Compra</h5>
      <ul *ngFor="let item of products">
        <li>{{ item.name }}  => {{ item.price }}</li>
      </ul>

      <section class=" text-center">
        <button (click)="payment()" class="text-white btn btn-sm btn-success">Total a Pagar: {{ product[0]["amount"] }}</button>
      </section>
    </div>
  </div>
</div>

<div>
  <ul *ngFor="let item of products">
        
    <li>{{ item.name }}  {{ item.price }}</li>
  </ul>
</div>
<button (click)="createChargeCart()">completar compra</button>
