<nav class="navbar navbar-expand" [ngClass]="{'mb-4':userName===''}" style="background-color: #1b222c;">
  <div class="container">
    <a class="navbar-brand logo">
      <img class="pointer" src="assets/logo.PNG" width="150px" routerLink="" alt="logo">
    </a>
    <a class="navbar-brand">
      <ul class="navbar-nav mr-auto">
        <!-- <li *ngIf="this.authService.getSessionUserName() !== null">{{this.authService.getSessionUserName()}}</li> -->
        <li class="nav-item dropdown">
          <a class="nav-link main-icon" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <mat-icon class="icon">person</mat-icon>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" *ngIf="userName===''" routerLink="/login">Mi cuenta</a>
            <a class="dropdown-item" *ngIf="userName!==''" routerLink="/account">Completar datos</a>
            <a class="dropdown-item">Mis pedidos</a>
            <a class="dropdown-item pointer" *ngIf="userName!==''" (click)="logOutSession()">
              Cerrar sesión
            </a>
          </div>
        </li>
        <li class="nav-item cart">
          <a class="nav-link main-icon" routerLink="/cart">
            <mat-icon class="icon" matBadgeSize="medium" matBadge="{{this.authService.getQtyOfCart()}}" matBadgeColor="warn">shopping_cart</mat-icon>
          </a>
        </li>
      </ul>
    </a>
  </div>
</nav>
<div *ngIf="userName!==''" style="background-color: #F2F2F2;" class="text-right pr-5 mb-4">¡Hola {{userName}}!</div>
