.listProduct{
  display: flex;
  flex-wrap: wrap;
  padding-left: 10%;
  padding-right: 10%;
  .product{
    padding: 12px;
    width: 22.64%;
    margin: 1em auto;
    .img-product{
      img{
        width: 100%;
      }
    }
    .description-product{
      .card-text{
        font-weight: bolder;
      }
      .price-text{
        color: #ea2840;
        font-weight: bolder;
        font-size: 1.1rem;
      }
    }
  }
  .product:hover p{
    text-decoration: underline;
  }
  .product:hover{
    cursor: pointer;
  }
}

@media (max-width: 767px) {
  .listProduct{
    .product{
      width: 40%;
    }
  }
}

// .container {
//   display: flex;
// }

// .ng-autocomplete {
//   width:100%;
//   max-width: 600px;
//   display: table;
//   margin: 0 auto;
// }
.mat-form-field{
width: 70%;
margin: 15%;
margin-top: auto;
}
.btn {
  border: #FF5500 solid 1pt;
  background-color: #FF5500 ;
  cursor: pointer;

}
.btn:hover{
 
  background-color: #CC4400;
}

