<div class="container">
  <h2>MIS DATOS PERSONALES</h2>
  <hr>
  <div class="mt-1 container">
    <form action="" [formGroup]="profileForm" (ngSubmit)="save(profileForm.value)" class="row">
      <div class="form-group col-xs-12 col-md-6">
        <label for="names"><span>*</span> Nombres</label>
        <input type="text"  required formControlName="names" class="form-control" id="names" aria-describedby="nameHelp" #name>
        <div class="alert-danger" *ngIf="names.invalid && (names.dirty || names.touched)">
        <div class="container-error-message">
          Este campo es obligatorio
        </div>
      </div>
    </div>
      <div class="form-group col-xs-12 col-md-6">
        <label for="user-lastname"><span>*</span> Apellidos</label>
        <input type="text" required formControlName="lastName" class="form-control" id="lastName" #lastname>
        <div class="alert-danger" *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
          <div class="container-error-message">
            Este campo es obligatorio
          </div>
        </div>
      </div>
 <!--      <div class="form-group col-xs-12 col-md-6">
        <label for="user-lastname"><span>*</span> Apellido Materno</label>
        <input type="text" required formControlName="motherLastName" class="form-control" id="motherLastName" #lastname>
        <div class="alert-danger" *ngIf="motherLastName.invalid && (motherLastName.dirty || motherLastName.touched)">
          <div class="container-error-message">
            Este campo es obligatorio
          </div>
        </div>
      </div> -->

      <div class="form-group col-xs-6 col-md-3">
        <label for="sel1"><span>*</span> Tipo/Documento</label>
        <select class="form-control" id="sel1">
          <option>DNI</option>
        </select>
      </div>
      <div class="form-group col-xs-6 col-md-3">
        <label for="dni"><span>*</span> DNI</label>
        <input class="form-control cursor" type="number" id="dni" formControlName = "dni">
        <div class="alert-danger" *ngIf="dni.invalid && (dni.dirty || dni.touched)">
          <div class="container-error-message" *ngIf="dni.errors.required">
            Este campo es obligatorio
          </div>
          <div class="container-error-message" *ngIf="dni.errors.minlength">
            Mínimo 8 caracteres
          </div>
        </div>
      </div>
     <!--  <div class="form-group col-xs-12 col-md-6">
        <label for="user-cel"><span>*</span> Teléfono Celular</label>
        <input type="number" required formControlName="celUser" class="form-control" id="user-cel" #cel>
        <div class="alert-danger" *ngIf="celUser.invalid && (celUser.dirty || celUser.touched)">
          <div class="container-error-message">
            Este campo es obligatorio
          </div>
        </div>
      </div> -->
      <div class="form-group col-xs-12 col-md-6">
        <label for="user-email"><span>*</span> Email</label>
        <input type="email" required formControlName="email" class="form-control" id="user-email" #email>
        <div class="alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
          <div class="container-error-message" *ngIf="email.errors.required">
            Este campo es obligatorio
          </div>
          <div class="container-error-message" *ngIf="(email.dirty || email.touched) && email.invalid && email.errors.email">
            Correo invalido
          </div>
        </div>
      </div>
      <div class="form-check form-check-inline col-12 m-3 checkbox">
        <input  class="form-check-input mr-2" type="checkbox" id="agreePromotions" formControlName = "agreePromotions">
        <label class="form-check-label" for="agreePromotions">Autorizo recibir comunicaciones promocionales y autorizo el uso de mi información para fines adicionales.</label>
      </div>
      <div class="form-check form-check-inline col-12 m-3 checkbox">
        <input class="form-check-input mr-2 " type="checkbox" id="agreeTermsAndConditions" formControlName = "agreeTermsAndConditions">
        <label class="form-check-label" for="agreeTermsAndConditions">Declaro que he leído y acepto la nueva Política de Privacidad y los Términos y Condiciones de Linio.</label>
      </div>
      <div class="col-md-12 text-right">
        <button type="submit" [disabled]="profileForm.invalid" class="btn btn-orange">Guardar datos</button>
      </div>
    </form>
  </div>
</div>


