<div class="container">
  <h2>MIS DATOS PERSONALES</h2>
  <hr>
  <div class="mt-1 container">
    <form action="" [formGroup]="profileForm" (ngSubmit)="save(profileForm.value)" class="row">
      <div class="form-group col-xs-12 col-md-6">
        <label for="user-name">Nombres</label>
        <input type="text"  required formControlName="nameUser" class="form-control" id="user-name" aria-describedby="nameHelp" #name>
      </div>
      <div class="form-group col-xs-12 col-md-6">
        <label for="user-lastname">Apellidos</label>
        <input type="text" required formControlName="lastnameUser" class="form-control" id="user-lastname" #lastname>
      </div>
      <div class="form-group col-xs-6 col-md-3">
        <label for="documentType">Tipo/Documento</label>
        <input class="form-control" type="number" id="documentType" formControlName = "documentType">
      </div>
      <div class="form-group col-xs-6 col-md-3">
        <label for="dni">DNI</label>
        <input class="form-control" type="number" id="dni" formControlName = "dni">
      </div>
      <!--  <div class="form-group col-xs-12 col-md-6">
        <label>Sexo</label>
        <div class="radioBtn">
          <div>
            <input id="male" type="radio" value="masculino" name="gender" formControlName="gender">
            <label for="male">Masculino</label>
          </div>
          <div>
            <input id="female" type="radio" value="femenino" name="gender" formControlName="gender">
            <label for="female">Femenino</label>
          </div>
        </div>
      </div> -->
      <div class="form-group col-xs-12 col-md-6">
        <label for="user-cel">Teléfono Celular</label>
        <input type="text" required formControlName="celUser" class="form-control" id="user-cel" #cel>
      </div>
      <div class="form-group col-xs-12 col-md-6">
        <label for="user-email">Email</label>
        <input type="email" required formControlName="emailUser" class="form-control" id="user-email" #email>
      </div>
      <div class="form-check form-check-inline col-12 m-3 checkbox">
        <input  class="form-check-input mr-2" type="checkbox" id="agreePromotions" formControlName = "agreePromotions">
        <label class="form-check-label" for="agreePromotions">Autorizo recibir comunicaciones promocionales y autorizo el uso de mi información para fines adicionales.</label>
      </div>
      <div class="form-check form-check-inline col-12 m-3 checkbox">
        <input class="form-check-input mr-2 " type="checkbox" id="agreeTermsAndConditions" formControlName = "agreeTermsAndConditions">
        <label class="form-check-label" for="agreeTermsAndConditions">Declaro que he leído y acepto la nueva Política de Privacidad y los Términos y Condiciones de Linio.</label>
      </div>
      <div class="col-md-12 text-right">
        <button type="submit" [disabled]="profileForm.invalid" class="btn btn-orange">Guardar datos</button>
      </div>
    </form>
  </div>
</div>


