nav{
  width: 100%;
  display: flex;

  .logo{
    display: flex;

  }

}
.icon{
  color: white;
  width: 120%;
}
.navbar{
  padding: 0% !important;
}

.navbar-brand{
  padding: 0% !important;
}

@media (max-width: 768px) {
  img{
    width: 80px;
  }
}

