nav{
  width: 100%;
  display: flex;
  .logo{
    width: 30%;
    display: flex;
    img{
      width: 80%;
    }
  }

}
.pi-shopping-cart:hover::before{
  color: #FF5500;
}
.pi-user:hover::before{
  color: #FF5500;
}
