
<!-- RESTAURAR CONTRACEÑA -->
<div class="container">
<h2>RESTAURAR CONTRASEÑA</h2>
<hr class="ts-hr-light mb-4">

<div *ngIf="restorePassword">
    <label for="email-reset" class="mb-4">Introduce el correo electrónico asociado a tu cuenta y te enviaremos un código para restaurar tu contraseña.</label><br>
    <label for="">Correo Electrónico</label>
    <input type="email" id="email-reset" [formControl]="emailReset" required class="form-control" placeholder="Ejemplo: juanperez@gmail.com" aria-label="Username" aria-describedby="basic-addon1">
    <label>{{errorMessage}}</label>
    <button type="button" [disabled]="emailReset.invalid" class="w-100 mt-2 btn pointer" (click)="sendPasswordCode(emailReset.value)">Restablecer contraseña</button>
</div>
<div *ngIf="newPassword">
    <form  [formGroup]="passwordForm"(ngSubmit)="verifyPassword(passwordForm.value)" class="row">
        <div class="form-group col-xs-12 col-md-6">
          <label for="user-code">Código</label>
          <input type="text" class="form-control" id="user-code"  #verifycode formControlName="code" placeholder="Ingresa el código">
        </div>

        <div class="form-group col-xs-12 col-md-6">
          <label for="user-newpassword">Contraseña nueva</label>
          <input type="password" class="form-control" name="password" id="newpassword"  #verifycode formControlName="password" placeholder="********">
      </div>
        <div class="form-group col-xs-12 col-md-12">
          <label for="newpassword-again">Confirma tu nueva contraseña</label>
          <input type="password" class="form-control" name="password" id="newpassword-again"  #verifycode formControlName="passwordRepeat" placeholder="********">
          <button role="button" class="btn btn-orange btn-forms-submit w-100 mt-3" [disabled]="passwordForm.invalid" >Restaurar Contraseña</button>
        </div>



    </form>
</div>

</div>

<!-- VERIFICATION SUCCESS PASSWORD -->
<p-dialog [(visible)]="displayVerificationSuccessModal" [modal]="true" [closable]="false">
    <p-header>
      Confirmación de ingreso de clave éxitosa
    </p-header>
      Contraseña restaurada. Puede iniciar su sesión
    <p-footer>
      <button type="button" class="btn" (click)="closeVerificationSuccessModal()">Ir a iniciar sesión</button>
    </p-footer>
  </p-dialog>

  <!-- VERIFICATION FAILED PASSWORD -->
 <p-dialog [(visible)]="displayVerificationFailedModal" [modal]="true" [closable]="false">
    <p-header>
      Ingreso de clave fallido
    </p-header>
      Clave ingresada incorrectamente
    <p-footer>
      <button type="button" class="btn" (click)="closeVerificationFailedModal()">Aceptar</button>
    </p-footer>
  </p-dialog>

    <!-- VERIFICATION FAILED EMAIL -->
 <p-dialog [(visible)]="displayEmailFailedModal" [modal]="true" [closable]="false">
    <p-header>
      Ingreso de clave fallido
    </p-header>
      Correo ingresada incorrectamente
    <p-footer>
      <button type="button" class="btn" (click)="closeEmailFailedModal()">Aceptar</button>
    </p-footer>
  </p-dialog>
