input{
  background-color: #FDF7ED;
  border: solid #F0AD4E 1pt;
}

input:focus{
  border: solid #939393 1pt;
  background-color: white;
}

button{
  background-color: #FF5500;
  color: white;
  width: 40%;
}

button:hover{
  color: white;
  background-color: #CC4400;
}

.toggle-checkbox-row .form-label {
  bottom: 4px;
  margin-right: 8px;
  position: relative;
}

.toggle-checkbox-row label {
    margin-bottom: 0;
}

.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

$color-orange:  #FF5500;
.checkbox {
    width: 100%;
    margin: 15px auto;
    position: relative;
    display: block;
    label {
        position: relative;
        min-height: 34px;
        display: block;
        padding-left: 40px;
        margin-bottom: 0;
        font-weight: normal;
        cursor: pointer;
        // span {
        //     position: absolute;
        //     top: 50%;
        //     transform: translateY(-50%);
        // }
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            margin: 4px;
            width: 22px;
            height: 22px;
            transition: transform 0.28s ease;
            border-radius: 3px;
            border: 2px solid $color-orange;
        }
        &:after {
            content: '';
            display: block;
            width: 10px;
            height: 5px;
            border-bottom: 2px solid $color-orange;
            border-left: 2px solid $color-orange;
            transform: rotate(-45deg) scale(0);
            transition: transform ease 0.25s;
            position: absolute;
            top: 12px;
            left: 10px;
        }
    }
    input[type="checkbox"] {
        width: auto;
        opacity: 0.00000001;
        position: absolute;
        left: 0;
        margin-left: -20px;
        &:checked ~ label{
            &:before {
                border: 2px solid $color-orange;
            }
            &:after {
                transform: rotate(-45deg) scale(1);
            }
        }
        &:focus + label::before {
            outline: 0;
        }
    }
}

