<div class="container">
  <h2>MIS DIRECCIONES</h2>
  <hr>
  <div class="mt-1 container">
    <form action="" [formGroup]="userAddres" (ngSubmit)="save(userAddres.value)" class="row">
      <div class="form-group col-xs-12 col-md-6">
        <label for="streetName"><span>*</span> Calle</label>
        <input type="text" formControlName="streetName" class="form-control" id="streetName" >
        <div class="alert-danger" *ngIf="streetName.invalid && (streetName.dirty || streetName.touched)">
          <div class="container-error-message">
            Este campo es obligatorio
          </div>
        </div>
      </div>
      <div class="form-group col-xs-12 col-md-3">
        <label for="streetTypeCode"><span>*</span> Tipo/Calle</label>
        <input type="text" formControlName="streetTypeCode" class="form-control" id="streetTypeCode">
        <div class="alert-danger" *ngIf="streetTypeCode.invalid && (streetTypeCode.dirty || streetTypeCode.touched)">
          <div class="container-error-message">
            Este campo es obligatorio
          </div>
        </div>
      </div>
      <!-- <div class="form-group col-xs-12 col-md-4">
        <label for="streetName"><span>*</span> Calle</label>
        <input type="text" formControlName="streetName" class="form-control" id="streetName" #othercel>
      </div> -->
      <div class="form-group col-xs-12 col-md-3">
        <label for="streetNumber"><span>*</span> Nro/Calle</label>
        <input type="number" formControlName="streetNumber" class="form-control" id="streetNumber">
        <div class="alert-danger" *ngIf="streetNumber.invalid && (streetNumber.dirty || streetNumber.touched)">
          <div class="container-error-message">
            Este campo es obligatorio
          </div>
        </div>
      </div>
      <div class="form-group col-xs-12 col-md-3">
        <label for="buildingType">Tipo/Edificio</label>
        <input type="text" formControlName="buildingType" class="form-control" id="buildingType" #lote>
      </div>
      <div class="form-group col-xs-12 col-md-3">
        <label for="buildingNumber">Nro/Edificio</label>
        <input type="number" formControlName="buildingNumber" class="form-control" id="buildingNumber" #lote>
      </div>

      <div class="form-group col-xs-12 col-md-6">
        <label for="blockCode">Bloque</label>
        <input type="text" formControlName="blockCode" class="form-control" id="blockCode" #dpto>
      </div>

      <div class="form-group col-xs-12 col-md-6">
        <label for="lotNumber">Nro/Lote</label>
        <input type="number" formControlName="lotNumber" class="form-control" id="lotNumber" #dpto>
      </div>
      <div class="form-group col-xs-12 col-md-6">
        <label for="urbanizationName"><span>*</span> Urbanizacion</label>
        <input type="text" formControlName="urbanizationName" class="form-control" id="urbanizationName">
        <div class="alert-danger" *ngIf="urbanizationName.invalid && (urbanizationName.dirty || urbanizationName.touched)">
          <div class="container-error-message">
            Este campo es obligatorio
          </div>
        </div>
      </div>
      <div class="form-group col-xs-12 col-md-6">
        <label for="urbanizationTypeCode">Tipo/Urbanizacion</label>
        <input type="text" formControlName="urbanizationTypeCode" class="form-control" id="urbanizationTypeCode" #dpto>
      </div>

      <div class="form-group col-xs-12 col-md-6">
        <label for="zoneName">Zona</label>
        <input type="text" formControlName="zoneName" class="form-control" id="zoneName" #dpto>
      </div>
      <div class="form-check form-check-inline col-12 col-md-4 checkbox">
        <input  class="form-check-input mr-2" type="checkbox" id="addresspred" formControlName = "addresspred">
        <label class="form-check-label" for="addresspred">Usar como dirección predeterminada</label>
      </div>
      <div class="form-check form-check-inline col-12 col-md-4 checkbox">
        <input  class="form-check-input mr-2" type="checkbox" id="active" formControlName = "active">
        <label class="form-check-label" for="active">Activo</label>
      </div>
      <div class="form-check form-check-inline col-12 col-md-4 checkbox">
        <input  class="form-check-input mr-2" type="checkbox" id="addressmain" formControlName = "addressmain">
        <label class="form-check-label" for="addressmain">Dirección principal</label>
      </div>
      <div class="col-md-12 text-right">
        <button type="submit" [disabled]="userAddres.invalid" class="btn btn-orange">Agregar</button>
      </div>
    </form>
  </div>
</div>



