<div class="container">
  <h2>MIS DIRECCIONES</h2>
  <hr>
  <div class="mt-1 container">
    <form action="" [formGroup]="userForm" (ngSubmit)="save(userForm.value)" class="row">
      <div class="form-group col-xs-12 col-md-6">
        <label for="userDNI">DNI</label>
        <input type="number" formControlName="userDNI" class="form-control" id="userDNI" #dpto>
      </div>
      <div class="form-group col-xs-12 col-md-1">
        <label for="streetTypeCode">Tipo/Calle</label>
        <input type="text" formControlName="streetTypeCode" class="form-control" id="streetTypeCode" #cel>
      </div>
      <div class="form-group col-xs-12 col-md-4">
        <label for="streetName">Calle</label>
        <input type="text" formControlName="streetName" class="form-control" id="streetName" #othercel>
      </div>
      <div class="form-group col-xs-12 col-md-1">
        <label for="streetNumber">Nro/Calle</label>
        <input type="number" formControlName="streetNumber" class="form-control" id="streetNumber" #othercel>
      </div>
      <div class="form-group col-xs-12 col-md-3">
        <label for="buildingType">Tipo/Edificio</label>
        <input type="text" formControlName="buildingType" class="form-control" id="buildingType" #lote>
      </div>
      <div class="form-group col-xs-12 col-md-3">
        <label for="buildingNumber">Nro/Edificio</label>
        <input type="number" formControlName="buildingNumber" class="form-control" id="buildingNumber" #lote>
      </div>

      <div class="form-group col-xs-12 col-md-6">
        <label for="blockCode">Bloque</label>
        <input type="number" formControlName="blockCode" class="form-control" id="blockCode" #dpto>
      </div>

      <div class="form-group col-xs-12 col-md-6">
        <label for="lotNumber">Nro/Lote</label>
        <input type="number" formControlName="lotNumber" class="form-control" id="lotNumber" #dpto>
      </div>
      <div class="form-group col-xs-12 col-md-6">
        <label for="urbanizationName">Urb</label>
        <input type="text" formControlName="urbanizationName" class="form-control" id="urbanizationName" #dpto>
      </div>
      <div class="form-group col-xs-12 col-md-6">
        <label for="urbanizationTypeCode">Tipo/Urb</label>
        <input type="text" formControlName="urbanizationTypeCode" class="form-control" id="urbanizationTypeCode" #dpto>
      </div>

      <div class="form-group col-xs-12 col-md-6">
        <label for="zoneName">Zona</label>
        <input type="text" formControlName="zoneName" class="form-control" id="zoneName" #dpto>
      </div>
      <div class="form-check form-check-inline col-12 col-md-4 checkbox">
        <input  class="form-check-input mr-2" type="checkbox" id="addresspred" formControlName = "addresspred">
        <label class="form-check-label" for="addresspred">Usar como dirección predeterminada</label>
      </div>
      <div class="form-check form-check-inline col-12 col-md-4 checkbox">
        <input  class="form-check-input mr-2" type="checkbox" id="active" formControlName = "active">
        <label class="form-check-label" for="active">Activo</label>
      </div>
      <div class="form-check form-check-inline col-12 col-md-4 checkbox">
        <input  class="form-check-input mr-2" type="checkbox" id="addressmain" formControlName = "addressmain">
        <label class="form-check-label" for="addressmain">Dirección principal</label>
      </div>
      <div class="col-md-12 text-right">
        <button type="submit" [disabled]="userForm.invalid" class="btn btn-orange">Agregar</button>
      </div>
    </form>
  </div>
</div>



